ProyectoFinalAgenda.WinForm/Connected Services/ServiceReferenceWCF/AgendaContactosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44363/Servicios/AgendaContactosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" minOccurs="0" name="GetContactosResult" nillable="true" type="q1:ArrayOfContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" minOccurs="0" name="GetContactoPorIdResult" nillable="true" type="q2:Contacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" minOccurs="0" name="c" nillable="true" type="q3:Contacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" minOccurs="0" name="c" nillable="true" type="q4:Contacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContactosPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContactosPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" minOccurs="0" name="BuscarContactosPorNombreResult" nillable="true" type="q5:ArrayOfContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>