ProyectoFinalAgenda.WinForm/Connected Services/ServiceReferenceWCF/AgendaContactosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoFinalAgenda.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContacto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contacto" nillable="true" type="tns:Contacto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContacto" nillable="true" type="tns:ArrayOfContacto" />
  <xs:complexType name="Contacto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacto" nillable="true" type="tns:Contacto" />
</xs:schema>